@model TrainerDetailsViewModel

<div class="trainer-details">
    <div class="trainer-info">
        <h2>Trainer Details</h2>

        @if (Model == null)
        {
            <p>You don't have a trainer so far!!!</p>
        }
        else
        {
            <h2>@Model.Name</h2>
            @if (!string.IsNullOrEmpty(Model.Information))
            {
                <p>@Model.Information</p>
            }
            <img src="@Model.ImageUrl" alt="Trainer Image" class="trainer-image" />
            <a asp-action="RemoveTrainer" asp-controller="Client" class="btn btn-lg btn-success rounded-pill">Remove Trainer</a>
        }
    </div>
</div>