.card {
    border: none;
    transition: transform 0.2s;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .card:hover {
        transform: translateY(-5px);
    }

.card-img-top {
    object-fit: cover;
    height: 200px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-success:hover {
        background-color: #218838;
        border-color: #218838;
    }

.btn-see-more {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-see-more:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
