@model IEnumerable<AllDietsViewModel>
@{
    ViewBag.Title = "All Diets";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var diet in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow h-100">
                    <img class="card-img-top" src="@diet.ImageUrl" alt="Diet Image">
                    <div class="card-body">
                        <h5 class="card-title">@diet.Name</h5>
                        <p class="card-text">@diet.Description</p>
                    </div>
                    <div class="card-footer">
                      
                        <a href="@Url.Action("Details", "Diet", new { id = diet.Id })" class="btn btn-lg btn-primary rounded-pill">More Details</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Reference the CSS file -->
<link rel="stylesheet" href="~/css/allDiets.css">